.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10%;
  background-color: #1f2937;
  gap: 24px;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text {
  margin: 12px 0;
  font-size: 18px;
  color: #e5e7eb;
  text-align: justify;
}

.hero-image {
  width: 40%;
  height: auto;
}

.services-section {
  padding: 24px 10%;
}

.services-section h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 32px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.services-list>a {
  text-decoration: none;
  flex: 1 1 calc(50% - 16px);
  /* By default, take up 50% of row width, making 2 items per row */
  max-width: calc(50% - 16px);
  /* Ensures no item grows beyond 50% */
}

.service img {
  width: 280px;
  height: 200px;
}

.service figcaption {
  text-align: center;
  color: #1f2937;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 64px 10%;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.quote-text {
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  text-align: justify;
}

.quote-author {
  font-weight: 700;
  margin-top: 12px;
  font-size: 16px;
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .hero-image {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-section,
  .services-section,
  .quote-sectio {
    padding-left: 16px;
    padding-right: 16px;
  }

  .quote {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .service img {
    width: 100%;
    height: auto;
  }
}
