.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10%;
  background-color: #1f2937;
  gap: 32px;
}

.hero-section>div,
.hero-section>img {
  flex: 1;
  max-width: 50%;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text {
  margin: 16px 0;
  font-size: 18px;
  color: #e5e7eb;
  text-align: justify;
}

.hero-image {
  max-height: 400px;
  height: auto;
  width: auto;
}

.services-section {
  padding: 32px 10%;
}

.services-section h2 {
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 24px 0;
}

.services-list>a {
  text-decoration: none;
}

.service img {
  width: 280px;
  height: 200px;
}

.service figcaption {
  text-align: center;
  color: #1f2937;
  margin-top: 4px;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 64px 10%;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.quote-text {
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  text-align: justify;
}

.quote-author {
  font-weight: 700;
  margin-top: 12px;
  font-size: 16px;
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .hero-image {
    display: none;
  }

  .hero-section>div {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-section,
  .services-section,
  .quote-sectio {
    padding-left: 16px;
    padding-right: 16px;
  }

  .quote {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .service img {
    width: 100%;
    height: auto;
  }
}
