.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10%;
  background-color: #1f2937;
  gap: 2rem;
}

.hero-section>div,
.hero-section>img {
  flex: 1;
  max-width: 50%;
}

.hero-title {
  font-size: 3rem;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text {
  margin: 1rem 0;
  font-size: 1.125rem;
  color: #e5e7eb;
  text-align: justify;
}

.hero-image {
  max-height: 400px;
  height: auto;
  width: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.services-section {
  padding: 2rem 10%;
}

.services-section h2 {
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

.services-list>a {
  text-decoration: none;
}

.service img {
  width: 280px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.service figcaption {
  text-align: center;
  color: #1f2937;
  margin-top: 0.25rem;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 4rem 10%;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.quote-text {
  color: #1f2937;
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 300;
  text-align: justify;
}

.quote-author {
  font-weight: 700;
  margin-top: 0.75rem;
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .hero-image {
    display: none;
  }

  .hero-section>div {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-section,
  .services-section,
  .quote-sectio {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .quote {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .service img {
    width: 100%;
    height: auto;
  }
}
