.services-section {
  padding: 2rem 10%;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.services-section .service:not(:last-child) {
  padding-bottom: 6rem;
}

.service {
  display: flex;
  gap: 2rem;
}

.service>div {
  flex: 1;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.service-content>* {
  flex: 0;
}

.service-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-img-container img {
  width: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.25);
}

.service-header {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #1F2937;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
}

.service-header i {
  background-color: #1F2937;
  color: #e5e7eb;
  padding: 10px;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.25rem;
}

.service-description {
  font-size: 1.125rem;
  line-height: 1.6;
}

.service-benefits {
  list-style-type: none;
  font-size: 1.125rem;
}

.service-benefits strong {
  color: #2b6ccf;
}

.service-benefits *:not(:last-child) {
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .service {
    flex-direction: column;
  }

  .services-section {
    padding: 1.5rem 1rem;
  }

  .services-section .service:nth-child(3),
  .services-section .service:nth-child(5) {
    flex-direction: column-reverse;
  }
}
