body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  width: 50%;
  text-align: center;
}

.auth-logo {
  text-align: left;
  margin-bottom: 1rem;
  color: #1f2937;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-label {
  text-align: left;
  margin-bottom: 0.25rem;
}

.auth-input {
  border-radius: 8px;
  border: 1px solid #1f2937;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.auth-button {
  margin-top: 0.25rem;
  width: 100%;
}

.auth-link-container {
  text-align: left;
  margin-top: 0.75rem;
}

@media (max-width: 1024px) {
  .auth-container {
    width: 100%;
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .auth-container {
    width: 100%;
    padding: 0 1rem;
  }
}
